html {
	font-size: 75%;
	margin: 0 auto;
	text-align: center;
}

@media (min-width: 960px) {
	html {
		font-size: 87.5%;
		text-align: left;
	}
}

@media (max-width: 640px) {
	html {
		font-size: 62.5%;
	}
}

body {
	margin: 0;
	width: 100%;
}

.hero {
	padding: 5.6rem 2.4rem 4.8rem 2.4rem;
}

@media (min-width: 960px) {
	.hero {
		padding: 7.2rem 6.4rem 6.4rem 6.4rem;
	}
}

.container {
	max-width: 1152px;
	min-width: 37rem;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

@media (min-width: 960px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
}

.main {
	margin: 0;
	order: 2;
}

@media (min-width: 960px) {
	.main {
		order: 1;
		min-width: 31rem;
	}
}

.image {
	order: 1;
	margin: auto;
}

@media (min-width: 960px) {
	.image {
		order: 2;
		flex-grow: 1;
		width:20rem;
		text-align: center;
	}
}

.yinyang {
	width: 25.6rem;
}

h1, p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

section { /* hexagram section */
	display: flex;
	flex-wrap: wrap;
	min-height:20rem;
	justify-content: center;
	margin: 0 -.5rem 0 -.5rem;
}

@media (min-width: 960px) {
	section {
		justify-content:flex-start;
	}
}

section article { /* hexagram container */
	margin: 0;
	display: flex;
	flex-direction: column;
}

section article ul { /* hexagram */
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: auto;
	margin: auto .5rem 0 .5rem;
}

section article ul li { /* hexagram line*/
	margin: .5rem 0;
}

section article p { /* hexagram name */
	margin: 0;
}

/* buttons */
.actions {
	display: flex;
	padding-top: 2.4rem;
	justify-content: center;
}

@media (min-width: 960px) {
	.actions {
		justify-content: left;
	}
}

button {
	touch-action: manipulation;
	font-size: 1.5rem;
	color: black;
}


/* line css drawings */

.yang {
	width: 15rem;
	height: 2rem;
	background: black;
}

.yin {
	width: 7rem;
	height: 2rem;
	border-right: 9rem;
	background:  black;
}

.yin:after {
	content: "";
	display: block;
	width: 0;
	height: 2rem;
	margin-left: 8rem;
	padding-left: 7rem;
	background-color:  black;
}

.yin.old:after {
	background-color: red;
}

.old {
	background-color:red;
}

.placeholder {
	background-color: grey;
}

.yin.placeholder:after {
	background-color: grey;
}
