@media screen and (min-width: 445px) {
	html {
		font-size: 100%;
		max-width: 42rem;
		margin: 0 auto;
	}
}

@media screen and (max-width: 444px) {
	html {
		font-size: 62.5%;
		max-width: 42rem
	}
}
.container {

}

body {
	margin-top: 4rem;
	text-align: center;
}

h1 {
	font-size:4rem;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	font-size: 2rem;
}

/* section styles */

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height:20rem;
}

section article {
	margin: 0 1rem;
	display: flex;
	flex-direction: column;
}

section article ul { /* hexagram */
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: auto;
}

section article ul li { /* hexagram line*/
	margin: .5rem 0;
}

section article p { /* hexagram name */
	margin: 0;
}

/* button */

button {
	touch-action: manipulation;
	font-size: 2rem;
	color: black;
}

/* line css drawings */

.yang {
	width: 15rem;
	height: 2rem;
	background: black;
}

.yin {
	width: 7rem;
	height: 2rem;
	border-right: 9rem;
	background:  black;
}

.yin:after {
	content: "";
	display: block;
	width: 0;
	height: 2rem;
	margin-left: 8rem;
	padding-left: 7rem;
	background-color:  black;
}

.yin.old:after {
	background-color: red;
}

.old {
	background-color:red;
}

.placeholder {
	background-color: grey;
}

.yin.placeholder:after {
	background-color: grey;
}

.yinyang {
	width: 60%;
}